extends layout

block headerContent
    script(src='/js/dersler.js')

block content
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/dersler')
            img(src='/img/gtu.png')
          p.navbar-text GTU - #{userInfo}
          p#refresh-button.navbar-text 
            a(href='#') 
              span.glyphicon.glyphicon-refresh(aria-hidden:'true')
    div#not-container
        include partial-dersler