extends layout
block headerContent
    script(src='/js/login.js')

block content
    form.form-signin('onsubmit'='return saveCredentials();',action='/dersler',method='POST')
        div(style='text-align:center')
            img(src='/img/gtu.png')
        h3.form-signin-heading Öğrenci İşleri Sistemi
        if error
            div.alert.alert-danger(role:'alert')
              span.glyphicon.glyphicon-exclamation-sign(aria-hidden:'true')
              span.sr-only Error
              span  #{error}
        
        input.form-control(type='text',name='login',id='login',placeholder='Öğrenci No',required,autofocus)
        input.form-control(type='password',name='password',id='password',placeholder='Şifre',required)
        button(class='btn btn-lg btn-primary btn-block',type='submit') Giriş